.popular {
  position: relative;
  z-index: 15;

  padding-top: 100vh;
  padding-bottom: 50px;


  @media (max-width: $md) {
    padding-top: 106vh;
  }
}

.popular__slider {
  position: relative;
  top: -270px;
  z-index: 199;

  margin-bottom: -270px;
}

.popular__left {
  position: absolute;
  top: 65px;
  bottom: auto;
  left: -130px;

  width: 200px;

  font-weight: 500;
  color: #ba917b;
  text-transform: uppercase;

  transform: rotate(-90deg);

  @media (max-width: $xl) {
    top: 71%;
  }
}

.popular__link {
  padding: 28px;
}

.popular__link img {
  height: 545px;

  filter: brightness(60%);

  object-fit: cover;


  @media (max-width: $md) {
    width: 100%;
    height: 292px;
  }
}

.popular__desc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px;
}

.popular__title {
  margin-bottom: 0;

  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  color: $c-main;
  text-transform: uppercase;

  @media (max-width: $md) {
    font-size: 29px;
    line-height: 1.7em;
  }
}

.popular__subtitle {
  margin-bottom: 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: $c-main;
  text-transform: uppercase;

  @media (max-width: $md) {
    font-size: 19px;
    line-height: 1.7em;
  }
}

.popular__divider {
  margin: 5px 0;
}
