.promo {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  &--absolute {
    position: absolute;

    margin-top: 200px;
  }
}

.promo__video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 1920px;
  height: 1080px;

  transform: translate(-50%, -50%);
}

.promo__container {
  z-index: 5;

  display: flex;
  align-items: center;
  height: 100%;
}

.promo__content {
  position: relative;
  top: -20px;

  padding: 30px 0;
}

.promo__list {
}

.promo__item {
  max-width: 100%;
  margin-top: 1em;

  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.2em;
  color: $c-main;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

// .promo__content {
//   position: fixed;
//   top: 25%;

//   width: 100%;
//   padding: 20px;

//   &--n-fix {
//     position: absolute;
//     z-index: -1;
//   }
// }

.promo__left {
  position: absolute;
  bottom: 90px;
  left: -40px;
  z-index: 5;

  font-weight: 500;
  text-align: center;
  color: $c-main;
  text-transform: uppercase;

  transform: rotate(-90deg);


  @media (max-width: $md) {
    display: none;
  }
}

.promo__divider {
  margin: 21px 0;
}
